<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>

    <body>
        <%- include('./partials/header.ejs') %>
        <main>
            <div class="register">
                <a href="/user/signup"><h4><button>Sign Up</button></h4></a>
                <a href="/user/login"><button>Login</button></a>
            </div>
        </main>
    </body>
</html>