<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>

    <body>
        <%- include('./partials/header.ejs') %>
        
        
        <main>
            <div class="container">
                <div class="sidebarRegister"></div>
                    <div class="registration">
                        <a href="/user/signup"><h4><button>Sign Up</button></h4></a>
                        <a href="/user/login"><button>Login</button></a>
                    </div>
            </div>        
        </main>
    </body>
</html>