
:root {
    --bright-orange: #F18963;
    --light-orange: #f5ac91;
    --bright-green: #A0BE73;
    --light-green: #c6d8ab;
    --purple: #B67D9A;
  }

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url("https://i.imgur.com/qyx4uO7.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    height: 100%;
    /* background: #e9e9e9; */
}

.userVenues {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin: 40px;
    text-align: center;
    margin: auto;
    width: 1000px;
    height: 100%;
    /* background-image: url("https://i.imgur.com/qyx4uO7.jpeg"); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.listVenues{
    display: flex;
    text-align: center;
    margin: 40px;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
}

/* .venueDisplay {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; 
    text-align: center;
    width: 200px;
    height: auto;
    justify-content: space-around;
    align-items: center;
    margin-right: 50px;
    margin-left: 50px;
    float: left;
    padding:10px
} */

.venueDisplay a img {
    width: 250px;
    height: auto;
    border: 5px whitesmoke solid;
}

.container {
    width: 80vw;
    height: 70vw;
    margin: 50px auto;
    display: flex;
    border-radius: 10px;
    box-shadow: 1px 1px 20px #6E3E11,
                -1px -1px 20px #6E3E11,
                1px -1px 20px #6E3E11,
                -1px 1px 20px #6E3E11;
  }

  .sidebarEdit {
    width: 50%;
    background: url('https://i.imgur.com/2kZthsz.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px 0 0 10px;
  }

  .sidebarNew {
    width: 50%;
    background: url('https://i.imgur.com/9qLpzGo.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px 0 0 10px;
  }

  .sidebarRegister {
    width: 50%;
    background: url('https://i.imgur.com/2kZthsz.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px 0 0 10px;
  }

  .registration {
    width: 50%;
    background: #f9f9f9;
    border-radius: 0 10px 10px 0;
    padding: 15px;
    box-sizing: border-box;
    overflow: auto;
    font-family: 'Play', sans-serif;
  }

  .registration h1 {
    color: rgb(33, 32, 32);
    font-family: 'Play', sans-serif;
}

h1 {
    font-family: 'Play', sans-serif;
    font-weight: 500;
    color: rgb(33, 32, 32);
    border-bottom: 2px solid var(--bright-green);
}

.main-info h2{
    font-family: 'Play', sans-serif;
    color: black;
}

.account-info legend {
    padding: 0px 10px;
    font-family: 'Play', sans-serif;;
    font-weight: 100;
    color: rgb(33, 32, 32);
}

.account-info {
    margin: 20px;
}

.account-info label {
    font-family: 'Play', sans-serif;;
    font-weight: 200;
    color: rgb(33, 32, 32);
    display: block;
}

.account-info h3{
    font-family: 'Play', sans-serif;;
    font-weight: 200;
    color: rgb(33, 32, 32);
    display: block;
}

.login {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px 20px 40px 20px; 
}

.submit {
    margin: 10px 0 10px 0;
    padding: 5px;
    width: 150px;
    font-family: 'Play', sans-serif;
}

.signup {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px 20px 40px 20px;
}

.show-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    border: 3px solid rgb(33, 32, 32);
    padding: 20px;
    background: #f9f9f9;
}

.show-container 
h1, h2, h3, h4 {
    font-family: 'Play', sans-serif;
    color: whitesmoke;
}

.show-container img {
    border: 2px solid rgb(33, 32, 32);  
}

img {
    width: 300px;
    height: auto;
}

button {
    padding: 5px 20px 5px 20px;
    font-family: 'Play', sans-serif;
    background-color: whitesmoke;
    /* border: none; */
    color: rgb(33, 32, 32);
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border: 1px solid rgb(33, 32, 32);
} 
 
button:hover {
    background-color: black;
    color: whitesmoke;
}

.buttonz {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px;
}

.buttonz input {
    background-color: whitesmoke; 
    color: rgb(33, 32, 32); 
    border: 1px solid rgb(33, 32, 32);
    padding: 5px 20px 5px 20px;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;


    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.buttonz input:hover {
    background-color: rgb(33, 32, 32);
     border: 2px solid rgb(33, 32, 32);
    color: whitesmoke;
}

label {
    padding: 20px;
}

h1 {
    color: whitesmoke;
    font-family: 'Play', sans-serif;
}

a {
    text-decoration: none;
}

.newVenue h3 {
    font-family: 'Play', sans-serif;
    margin-left:20px;
    /* margin-top:20px; */
}