<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>

    <body>
        <%- include('../partials/header.ejs') %>
            <main>
                <a href="/venues"><button>Back To Main</button></a>
                <div class="container2">
                    <!-- <div class="sidebarRegister"></div> -->
                        <!-- <div class="registration2"> -->
                            <form action="/user/login" method="post">
                                <div class="access">
                                    <legend>Log in:</legend>
                                    <label>USERNAME: <input type="text" name="username" required /></label>
                                    <label>PASSWORD: <input type="password" name="password" required /></label>
                                    <a href="/user/login"><button>Login</button></a>
                                </div>
                            </form>
                        <!-- </div> -->
                </div>
            </main>

    </body>
</html>-