<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>

    <body>
        <%- include('../partials/header.ejs') %>
            <main>
                <div class="container">
                    <div class="sidebarRegister"></div>
                        <div class="registration">
                            <form action="/user/login" method="post">
                                <fieldset class="login">
                                    <legend>Log in:</legend>
                                    <label>USERNAME: <input type="text" name="username" required /></label>
                                    <label>PASSWORD: <input type="password" name="password" required /></label>
                                    <a href="/user/login"><button>Login</button></a>
                                </fieldset>
                            </form>
                        </div>
                </div>
            </main>
    </body>
</html>